html, body{
    margin: 0;
    padding: 0;
    background-color: #c7c7c74d;
    font-family: 'Poppins', sans-serif;
}

.body__container{
overflow: hidden;
}
nav{
    width: 100%;
    height: 71px;
    background-color: rgba(151, 158, 143, 0.335);
    display: flex;
    font-size: 26px;
    padding-left: 12px;
    align-items: center;
    border-bottom: 2px solid rgb(95, 105, 3);
}
nav>span:hover{
    text-decoration: underline;
    cursor: pointer;
    color: green;
}

.container{
    display: flex;
    align-items: center;
    background-image: url(./pay-937884_1920.jpg);
    background-size: 100% 100%;
    flex-direction: column;
}
.description{
    width: 90%;
    padding: 12px;
    background-color: white;
    margin-top: 7px;
    font-size: 15px;
    box-shadow: 0px 0px 1px black;
}

.karprekar__text{
    margin: -6px;
    font-weight: bolder;
    color: green;
    text-decoration: underline;
}
.check__if__karprekar__container{
    width: 98%;
    margin-top: 12px;
    height: 60vh;
    text-align: center;
    box-shadow: 0px 0px 1px black;
    background-color: white;
    overflow-y: auto;
}
#check__if__karprekar__input{
    width: 50%;
    font-size: 30px;
    padding: 9px;
    margin-top: 10px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #808080ba;
    margin-bottom: 13px;
    text-indent: 10px;
    outline: none;
}
.btn{
    height: 46px;
    width: 60px;
    cursor: pointer;
    border: none;
    margin-left: 7px;
    color: white;
    background-color: green;
}

.error__modal{
    box-shadow: 0px 0px 3px 1px red;
    margin: auto;
    width: 80%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#error__icon{
    position: absolute;
    right: -12px;
    font-size: 24px;
    top: -9px;
    color: red;
    background-color: white;
}
.error__span{
    margin-right: 7px;
    font-size: 20px;
    color: red;
}

.check__modal{
    box-shadow: 0px 0px 3px 1px  green;
    margin: auto;
    width: 80%;
    position: relative;
    margin-top: 10px;
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#check__icon{
    position: absolute;
    right: -12px;
    font-size: 24px;
    top: -9px;
    color: green;
    background-color: white;
}
.check__span{
    margin-right: 7px;
    font-size: 20px;
    color: green;
}
.error__container{
    display: flex;
    flex-direction: column-reverse;
}
.input__container{
    position: sticky;
    background-color: #d1d4cf;
    z-index: 10000;
    display: flex;
    top: 0;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 550px){
    .description{
        width: 89%;
    }
}